/* create header bar */
.page-footer {
    background-color: #FCA311;
    width: 100%;
    height: 5vh;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}