/*----------------------------------------------------
====================== General =======================
------------------------------------------------------*/

body {
  background-color: #14213D;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  position: relative;
  min-height: 100vh;
  color: black;
}

main h1 {
  text-align: center;
  padding: 30px;
  color: black;
}

main h2 {
  text-align: center;
  color: black;
}

main h3 {
  text-align: center;
  color: black;
}