/* create header bar */
.page-header {
  background-color: #fca311;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.page-title {
  color: white;
  font-size: 4.5em;
  justify-self: flex-end;
}

.header-logo {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.header-logo-counter-balance {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  visibility: hidden;
}

/* Swiper Slide Show */
.swiper {
  width: 55vw;
  height: 70vh;
  margin: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.predict-title {
  font-size: 2em;
  color: white;
  text-align: center;
  width: 100%;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-show {
  width: 100%;
  height: 100%;
}


.prediction-sec {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  visibility: collapse;

}

.prediction-sec p {
  margin: 5px;
}

.predict-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 2vh;
  padding-bottom: 8vh;
}

/* Footer */
.page-footer {
  background-color: #fca311;
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  gap: 1px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}